/* Cascade Style Sheet for this website */
body {
	margin: 50px 0px 0px 0px;
	background-color: lightblue;
}

h1 {
	color: navy;
	font-size: 48px;
	text-align: center;
}
p{
	font-size: 12px;
}
ul.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: navy;
	position: fixed;
	top: 0;
	width: 100%;
}

ul.navbar li{
	float: left;
}
ul.navbar li > a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.navbar li > a:hover{
	background-color: blue;
}
.core{
	width: 800px;
	margin: auto;
	overflow: auto;
}
.row{
	display: inline-block;
	width: 100%;
}
.col-25{
	float: left;
	width: 25%;
	margin-top: 6px;
}
.col-75{
	float: right;
	width: 75%;
	margin-top: 6px;
}

label{
	font-size: 18px;
}
input[type=text], select, textarea{
	width: 400px;
}
input[type=submit]{
	float: right;
}
footer{
	background-color: black;
	color: white;
	font-size: 10px;
	text-align: right;
	padding: 10px;
}
